@model GameStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "GameStore: your cart";
}

<h2>Your cart</h2>
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Game</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Game.Name</td>
                <td class="text-right">@line.Game.Price.ToString("# mdl")</td>
                <td class="text-right">
                    @((line.Quantity * line.Game.Price).ToString("# mdl"))
                </td>
                <td>
                    @using(Html.BeginForm("RemoveFromCart", "Cart"))
                    { 
                        @Html.Hidden("GameId", line.Game.GameId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Delete"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# mdl")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>

