@model GameStore.Domain.Entities.Game

<div class="well" style="display:inline-block">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <p>
                <img class="img-thumbnail" style="max-height:250px; max-width:250px; margin:10px"
                     src="@Url.Action("GetImage", "Game",
                new { Model.GameId })" />
            </p>
        </div>
    }

    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# mdl")</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.GameId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }
    <span class="lead">@Model.Description</span>
</div>

